<div class="card">
  <div class="alert alert-primary">
    <h5 class="panel-title">Loan Repayment Calculator</h5>
  </div>
  <div class="card-body">
    <div class="regentry">
      <div class="form-group row">
        <label for="start-date-input" class="col-2 col-form-label">Start Date</label>
        <div class="col-3 input-group"> 
          <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="startDate" [(ngModel)]="startDate1" ngbDatepicker #startDate="ngbDatepicker">
          <button class="input-group-addon" (click)="startDate.toggle()" type="button">
           <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
          </button>
        </div>
      </div>
      <div class="form-group row">
        <label for="loan-amount-input" class="col-2 col-form-label">Loan Amount</label>
        <div class="col-10 input-group">
          <span class="input-group-addon">$</span>
          <input class="form-control" type="number" min="0.00" step="0.01" value="0.00"name="loanAmount"  #loanAmount/>
        </div>
      </div>
      <div class="form-group row">
        <label for="installment-amount-input" class="col-2 col-form-label">Installment Amount</label>
        <div class="col-10 input-group">
          <span class="input-group-addon">$</span>
          <input class="form-control" type="number" min="0.00" step="0.01" value="0.00" name="installmentAmount"  #installmentAmount/>
        </div>
      </div>
      <div class="form-group row">
        <label for="simple-interest-rate-input" class="col-2 col-form-label">Simple Interest Rate</label>
        <div class="col-10 input-group">
         <span class="input-group-addon">%</span>
          <input class="form-control" type="number" min="0.00" max="100.00" step="0.01" value="0.00" name="simpleInterestRate"  #simpleInterestRate/>
        </div>
      </div>
      <div class="form-group row">
        <label for="installment-interval-select" class="col-2 col-form-label">Installment Interval</label>
        <div class="col-10 input-group">
          <select #installmentInterval class="form-control">
            <option [value]="1"> Daily </option>
            <option [value]="2"> Weekly </option>
            <option [value]="3"> Monthly </option>
          </select>
       </div>
      </div>
      <div class="form-group row"></div>
      <button  class="btn btn-primary" (click)="createPaymentSchedule(startDate.value, loanAmount.value, installmentAmount.value, simpleInterestRate.value, installmentInterval.value);">Create Payment Schedule</button>
      <div class="form-group row"></div>
    </div>
  </div> 
</div>

<pre> Model: {{ startDate1 | json}} </pre>


